<div class="cont-header">

    <div class="top-header d-flex justify-content-between">
        <img class="logo" width="50px" height="50px" src="img\logo.jpg" alt="logo-tech">
        <div class="nav d-flex flex-warp login">
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="">Acerca</a></li>
                <li><a href="">Computadoras</a></li>
                <li><a href="">Televisores</a></li>
                <li><a href="">Celulares</a></li>
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="/crear_producto">Cargar producto</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/carro_de_compras">Mi Carrito</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </div>
        <div class="search-form ">
            <form class="d-flex search-form ">
                <input class="form-control me- buscador " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-success m-1 " type="submit ">Search</button>
            </form>
        </div>
    </div>
</div>
</div>