<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/styledetall.css" > </link>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>detalle del producto</title>
    </head>
    <body>

        <header>
            <main class="main">
                <div class="container-fluid">


                    <div class="container">
                        <div>
                            
                        </div>
                        <div class="row align-items-start">
                          <div class="col">
                            <div  style="width: 32rem;">
                                
                                <div class="card-body">
                                    <img src="img/tv.webp" class="card-img-top" alt="TV samsung 55 pulgadas">
                                    <img src="img/tvs.JPG" class="card-img-top" alt="TV samsung 50 pulgadas">
                                    
                                </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div style="width: 35rem;">

                                
                                    <div class="card-body">
                                        
                                    
                                            <h4>TV samsung 55 pulgadas</h4>
                                            <div class="descripcion">
                                                <p class="card-text">Tamaño Pantalla del TV (En Pulgadas)
                                                   55 Pulgadas</p>
                                                <p class="card-text">Tipo de Pantalla del TV o Monitor Mini LED</p>
                                                <p class="card-text">Resolucion Pantalla del TV o Monitor 4K-UHD</p>
                                        
                                                <p class="card-text">Garantia del Fabricante  12 Meses</p>
                                            </div>
                                            <br>
                                            <div class="box-price">
                                            <span class="price1"><strike>$9.338</strike></span>
                                            <span class="price2"><b>Descuento: $6.670</b></span>
                                            <div>
                                                <span class="compra">Precio: $6.670</i></span>
                                            </div>
                                            
                                            </div>
                                            <br>
                                            <br>
                                            <div class="d-grid gap-2 d-md-block">

                                                <button type="button" class="btn btn-secondary ">Añadir al Carrito</button>

                                                 <button type="button" class="btn btn-secondary">Comprar  </button>

                                            </div>
                                            
                                    </div>
                          
                          </div>
                        </div>

                        </div>
                    </div>
                    
                </div>

                

        </header>
    




    
    </body>
</html>