
@media (max-width: 430px){
    .col{
        width: 50rem;
    }

} 

@media (max-width: 430px){
    .card-body{
        width: 20rem;
    }

} 

@media (max-width: 430px){
    .imagen{
        width: 20rem;
    }
}

.descripcion p {
    color: rgb(0, 0, 0);
    border-top: 1px solid #626262;
    text-align: left;
    background-color: rgb(241, 239, 239);
    font-size: 90%;
    

}
