* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}




@media (min-width: 430px){
    .col{
        width: 50rem;
    }

} 

@media (min-width: 430px){
    .card-body{
        width: 20rem;
    }

} 

@media (min-width: 430px){
    .imagen{
        width: 5rem;
    }
}

.descripcion p {
    display: flex;
    color: rgb(0, 0, 0);
    border-top: 1px solid #626262;
    text-align: center;
    background-color: rgb(200, 197, 197);
    font-size: 90%;

}
.card-body{
    display: flex;
    padding: 10px;
    margin-top: 150px;
    width: 80%;
    height: 100%;
}

