<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>  
    </head>

  
    <body>
 <!--MENU-->
  <header>
    <%- include("../partials/header") %>
    
</header>
    <br>
    <br>
    <br>
    <br>
    <br>
<!--MENU-->
        <form class="formulario">
            <H3 >INGRESAR</H3>
            <br>
            <H6>Ingresa tu correo electronico y contraseña</H6>
           
            <input placeholder="Correo" type="email">
            <input placeholder="Contraseña" type="password">
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <br>
            <br>
            <h6>olvidaste tu contraseña</h6>
          </form>

   <!--FOOTER-->
   <%- include("../partials/footer") %> 
   <!--FOOTER-->
    </body>
</html>