<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>  
</head>


<body>

    <!--MENU-->
    <header>
        <%- include("../partials/header") %>
    </header>
    <!--MENU-->

    <main>
        <br>
        <br>
        <div class="carousel">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  
                  <a href="#ofertas"><img width="100px" height="320px" src="/img/porta.jpg"  class="d-block w-100" alt="..."> </a>
                </div>
                <div  class="carousel-item">
                  <a href="#ofertas"> <img width="100px" height="320px" src="/img/ofertas2.jpg" class="d-block w-100" alt="..."></a>
                </div>
                <div class="carousel-item">
                  <a href="#ofertas"> <img width="100px" height="320px" src="/img/ofertas3.jpg" class="d-block w-100" alt="..."></a>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            
            </div>



        <!--<div class='productos'>

        <div class="articulos ">

            <img src="/img/tv.jpg " class="card-img-top " alt="... ">
            <div class='informacion'>
                <i class="fas fa-shopping-cart "></i>
                <p class="precio ">$6.770</p>
                <h4 class="descripcion ">TV UHD</h4>
                <div class="boton ">
                    <button type="submit " class="btn btn-primary ">Añadir al carrito</button>
                </div>
            </div>
        </div>


        <div class="articulos ">
            <img src="/img/pc gamer.jpg " class="card-img-top " alt="... ">
            <div class='informacion'>
                <i class="fas fa-shopping-cart "></i>
                <p class="precio ">$230.000</p>
                <h4 class="descripcion ">Pc Gamer</h4>
                <div class="boton ">
                    <button type="submit " class="btn btn-primary ">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="articulos ">
            <img src="/img/celular.jpg " class="card-img-top " alt="... ">
            <div class='informacion'>
                <i class="fas fa-shopping-cart "></i>
                <p class="precio ">$70.500</p>
                <h4 class="descripcion ">Iphone 12 Pro Max</h4>
                <div class="boton ">
                    <button type="submit " class="btn btn-primary ">Añadir al carrito</button>
                </div>
            </div>
        </div>


        </div>

        </div>-->

        <section class="main" id="main-prod">

            <div class=" section-header ">
                <h3>Ofertas</h3>
                <a href="/detalle_producto ">Ver historial</a>
            </div>

            <div class="container-fluid ">

                <div class="card " style="width: 18rem; ">
                    <img src="/img/tv.jpg " class="card-img-top " alt="TV LG UHD ">
                    <div class="card-body ">
                        <h4>TV LG UHD</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$8.670</i></span>
                        </div>
                        <!--Boton de compra-->
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="/img/pc gamer.jpg " class="card-img-top " alt="Pc Gamer ">
                    <div class="card-body ">
                        <h4>Pc Gamer</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$6.238</strike></span>
                            <span class="price2 "><b>$4.670</b></span>
                            <span class="compra ">$5.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="/img/pc gamer.jpg " class="card-img-top " alt="Pc Gamer ">
                    <div class="card-body ">
                        <h4>Pc Gamer</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$6.238</strike></span>
                            <span class="price2 "><b>$4.670</b></span>
                            <span class="compra ">$5.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">25% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.999</strike></span>
                            <span class="price2 "><b>$7.499</b></span>
                            <span class="compra ">$8.250</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section-header ">
                <h3>Basado en tu última visita</h3>
                <a href="/detalle_producto "><Ver >historial</Ver></a>
            </div>

            <div class="container-fluid ">

                <div class="card " style="width: 18rem; ">
                    <img src="/img/tv.jpg " class="card-img-top " alt="TV LG UHD ">
                    <div class="card-body ">
                        <h4>TV LG UHD</h4>
                        <p class="card-text ">18% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$8.670</i></span>
                        </div>
                        <!--Boton de compra-->
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="/img/pc gamer.jpg " class="card-img-top " alt="Pc Gamer ">
                    <div class="card-body ">
                        <h4>Pc Gamer</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$6.238</strike></span>
                            <span class="price2 "><b>$4.670</b></span>
                            <span class="compra ">$5.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$6.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$6.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$6.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$6.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$6.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>

                <div class="card " style="width: 18rem; ">
                    <img src="img/tv.webp " class="card-img-top " alt="TV samsung 50 pulgadas ">
                    <div class="card-body ">
                        <h4>TV samsung 50 pulgadas</h4>
                        <p class="card-text ">20% descuento</p>
                        <div class="box-price ">
                            <span class="price1 "><strike>$9.338</strike></span>
                            <span class="price2 "><b>$6.670</b></span>
                            <span class="compra ">$6.670</i></span>
                        </div>
                        <div class="wrapper ">
                            <a href="/detalle_producto " class="button-compra ">Añadir</a>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>

        

    </main>
    <!--FOOTER-->
    

    <%- include("../partials/footer") %>  
  
    
     <!--FOOTER-->

</body>

</html>

